<style type="text/css">

</style>

<div  class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

<a class="navbar-brand" href="{% url "index" %}">DataTagger</a>
        
         </div>
         <div class="navbar-collapse collapse">
             <ul class="nav navbar-nav navbar-right">
                 <li><a href='{% url "translate" %}'>TRANSLATE</a></li>
                 <li><a href='{% url "index" %}'>PROJECTS</a></li>
                 {% if request.user.is_authenticated %}
                 <li><a href='{% url "profile" %}'>PROFILE</a></li>
                 <li ><a  href='{% url "logout" %}'>LOGOUT</a></li>
                 <li style="float: right;"><a  href='{% url "index" %}'>Logged in as:{{request.user.username}}</a></li>
                 {% else %}
                 <li><a href='{% url "register" %}'>REGISTER</a></li>
                 <li><a href='{% url "login" %}'>LOGIN</a></li>
 
                 {% endif %}
             </ul>
         </div>

    
    
    
    

       
    </div>
</div>

